    Problem Name: The Minion Game
    Source: HackerRank
    Key Concept:
    - Substring counting
    - Vowel vs Consonant
    - Math optimization (no substring generation)
    - Time Complexity: O(n)


    ‚Ä¢ Substring contribution technique
    ‚Ä¢ Each index contributes (len(string) - index)
    ‚Ä¢ No substring generation
    ‚Ä¢ Time Complexity: O(n)
    ‚Ä¢ Space Complexity: O(1)

In [1]:
def minion_game(string):
    vowels = "AEIOU"
    kevin = 0
    stuart = 0
    n = len(string)

    for i in range(n):
        if string[i] in vowels:
            kevin += n - i
        else:
            stuart += n - i

    if kevin > stuart:
        print("Kevin", kevin)
    elif stuart > kevin:
        print("Stuart", stuart)
    else:
        print("Draw")


if __name__ == '__main__':
    s = "BANANA"
    minion_game(s)

Stuart 12

    üìù Question: Default Arguments (Even & Odd Stream)

    You are given two classes, EvenStream and OddStream, which generate even and odd numbers respectively.

    Class definitions:

    - EvenStream

    Starts from 0

    Each call to `get_next()` returns the next even number

    - OddStream

    Starts from 1

    Each call to `get_next()` returns the next odd number
        
    Problem: Print Even/Odd Stream
    Key Concept:
    - Default argument pitfall in Python
    - Use None instead of object in function parameter
    - State isolation using new instances

In [ ]:
class EvenStream:
    def __init__(self):
        self.current = 0

    def get_next(self):
        value = self.current
        self.current += 2
        return value


class OddStream:
    def __init__(self):
        self.current = 1

    def get_next(self):
        value = self.current
        self.current += 2
        return value


def print_from_stream(n, stream=None):
    if stream is None:
        stream = EvenStream()

    for _ in range(n):
        print(stream.get_next())


# üîΩ THIS PART WAS MISSING üîΩ
if __name__ == "__main__":
    q = int(input().strip()) ## 2 how many number print

    for _ in range(q):
        parts = input().split() ##  odd 2  ## even 2

        stream_type = parts[0]
        n = int(parts[1])

        if stream_type == "odd":
            print_from_stream(n, OddStream())
        else:
            print_from_stream(n)

1
3
0
2

In [ ]:
def is_number_palindrome(n):
    return str(n) == str(n)[::-1]

# Test
print(is_number_palindrome(121))    # True
print(is_number_palindrome(12321))  # True
print(is_number_palindrome(123))    # False


def is_palindrome(word):
    word = word.lower()  
    left = 0
    right = len(word) - 1

    while left < right:
        if word[left] != word[right]:
            return False
        left += 1
        right -= 1

    return True

# Test
print(is_palindrome("‡¶ï‡¶æ‡¶ï"))      # True
print(is_palindrome("‡¶®‡¶Æ‡¶®"))     # True
print(is_palindrome("banana"))  # False

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

result = [
    [i,j,k]
    for i in range(x)
    for j in range(y)
    for k in range(z)
    if i+j+k != n
]

In [3]:
result

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0]]

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

result = [
    [i, j, k]
    for i in range(x + 1)
    for j in range(y + 1)
    for k in range(z + 1)
    if i + j + k != n
]

print(result)

In [5]:
result

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 0, 3],
 [0, 1, 0],
 [0, 1, 1],
 [0, 1, 2],
 [0, 1, 3],
 [0, 2, 0],
 [0, 2, 1],
 [0, 2, 2],
 [1, 0, 0],
 [1, 0, 1],
 [1, 0, 2],
 [1, 0, 3],
 [1, 1, 0],
 [1, 1, 1],
 [1, 1, 2],
 [1, 2, 0],
 [1, 2, 1],
 [1, 2, 3]]

#### scores = list(map(int, input().split(",")))
input(5,7,3,5,8)

#### scores = list(map(int, input().split()))
input(2 3 4 7 5)

In [127]:
## 5 7 3 5 8

n = int(input()) ## üëâ ‡¶Æ‡ßã‡¶ü ‡¶ï‡¶§‡¶ú‡¶® ‡¶Ö‡¶Ç‡¶∂‡¶ó‡ßç‡¶∞‡¶π‡¶£‡¶ï‡¶æ‡¶∞‡ßÄ
scores_list = list(map(int, input().split())) ## üëâ n ‡¶ü‡¶ø ‡¶∏‡¶Ç‡¶ñ‡ßç‡¶Ø‡¶æ (space ‡¶¶‡¶ø‡ßü‡ßá ‡¶Ü‡¶≤‡¶æ‡¶¶‡¶æ) ‡¶Ö‡¶Ç‡¶∂‡¶ó‡ßç‡¶∞‡¶π‡¶£‡¶ï‡¶æ‡¶∞‡ßÄ‡¶¶‡ßá‡¶∞ ‡¶∏‡ßç‡¶ï‡ßã‡¶∞

max_score = max(scores_list)

# winner score ‡¶¨‡¶æ‡¶¶ ‡¶¶‡¶ø‡¶ö‡ßç‡¶õ‡¶ø
scores = [s for s in scores_list if s != max_score]

# ‡¶è‡¶ñ‡¶® ‡¶∏‡¶¨‡¶ö‡ßá‡ßü‡ßá ‡¶¨‡ßú‡¶ü‡¶æ‡¶á runner-up
runner_up = max(scores)

print(runner_up)

7

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    scores_list = list(arr)
    max_score = max(scores_list)
    scores = [s for s in scores_list if s != max_score]

    runner_up = max(scores)

    print(runner_up)

In [128]:
scores_list

[5, 7, 3, 5, 8]

if duplicate value its fail

In [ ]:
## 2 3 6 6 5

n = int(input()) ## üëâ ‡¶Æ‡ßã‡¶ü ‡¶ï‡¶§‡¶ú‡¶® ‡¶Ö‡¶Ç‡¶∂‡¶ó‡ßç‡¶∞‡¶π‡¶£‡¶ï‡¶æ‡¶∞‡ßÄ
scores_list = list(map(int, input().split())) ## üëâ n ‡¶ü‡¶ø ‡¶∏‡¶Ç‡¶ñ‡ßç‡¶Ø‡¶æ (space ‡¶¶‡¶ø‡ßü‡ßá ‡¶Ü‡¶≤‡¶æ‡¶¶‡¶æ) ‡¶Ö‡¶Ç‡¶∂‡¶ó‡ßç‡¶∞‡¶π‡¶£‡¶ï‡¶æ‡¶∞‡ßÄ‡¶¶‡ßá‡¶∞ ‡¶∏‡ßç‡¶ï‡ßã‡¶∞


sort = sorted(scores_list)
runner_up = sort[-2]
runner_up

7

6

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.


Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [148]:
for _ in range(int(input())):
    name = input()
    score = float(input())


    print(name)
    # print(score)

ahmed
tavir

In [150]:
students = [
    ['Harry', 37.21],
    ['Berry', 37.21],
    ['Tina', 37.2],
    ['Akriti', 41],
    ['Harsh', 39]
]

scores = [scores for name, scores in students]
scores

[37.21, 37.21, 37.2, 41, 39]

In [172]:
sort = sorted(scores)
score_sort = sort[1]
score_sort

37.21

In [174]:
name = [name for name, scores in students if scores == score_sort]
name

['Harry', 'Berry']

In [204]:
students = [
    ['Harry', 37.21],
    ['Berry', 37.21],
    ['Tina', 37.2],
    ['Akriti', 41.0],
    ['Harsh', 39.0]
]


# 1Ô∏è‚É£ ‡¶∏‡¶¨ grade ‡¶Ü‡¶≤‡¶æ‡¶¶‡¶æ ‡¶ï‡¶∞‡ßá ‡¶®‡ßá‡¶ì‡ßü‡¶æ
grades = [score for name, score in students]

# 2Ô∏è‚É£ unique grade ‡¶®‡¶ø‡ßü‡ßá sort ‡¶ï‡¶∞‡¶æ
unique_grades = sorted(set(grades))

# 3Ô∏è‚É£ second lowest grade
second_lowest = unique_grades[1]

# 4Ô∏è‚É£ second lowest grade ‡¶Ø‡¶æ‡¶¶‡ßá‡¶∞, ‡¶§‡¶æ‡¶¶‡ßá‡¶∞ ‡¶®‡¶æ‡¶Æ ‡¶®‡ßá‡¶ì‡ßü‡¶æ
names = [name for name, score in students if score == second_lowest]

# 5Ô∏è‚É£ ‡¶®‡¶æ‡¶Æ alphabetically sort ‡¶ï‡¶∞‡¶æ
names.sort()

# 6Ô∏è‚É£ ‡¶è‡¶ï ‡¶≤‡¶æ‡¶á‡¶®‡ßá ‡¶è‡¶ï ‡¶®‡¶æ‡¶Æ print
for name in names:
    print(name)

Berry
Harry

In [167]:
unique_grades = sorted(set(grades))
unique_grades[1]

37.21

In [ ]:
students = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])
        
        grades = [score for name, score in students]

        unique_grades = sorted(set(grades))

        second_lowest = unique_grades[1]

        names = [name for name, score in students if score == second_lowest]

        names.sort()

        for name in names:
            print(name)

Berry
Harry
Berry
Harry
Berry
Harry

#### final code

In [ ]:
students = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])

    # üîΩ ‡¶è‡¶á ‡¶Ö‡¶Ç‡¶∂‡¶ü‡¶æ loop-‡¶è‡¶∞ ‡¶¨‡¶æ‡¶á‡¶∞‡ßá ‡¶π‡¶¨‡ßá
    grades = [score for name, score in students]
    unique_grades = sorted(set(grades))
    second_lowest = unique_grades[1]

    names = [name for name, score in students if score == second_lowest]
    names.sort()

    for name in names:
        print(name)

In [198]:
students = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])

scores = [score for name,score in students]

In [199]:
students

[['ahmed', 2.2], ['tanvir', 2.2], ['tonmoy', 2.2]]

In [200]:
sort = sorted(set(scores))
sort

[2.2]

In [202]:
name = [name for name,score in students if score == sort[0]]
name

['ahmed', 'tanvir', 'tonmoy']

In [203]:
name.sort()

for n in name:
    print(n)

ahmed
tanvir
tonmoy