In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        print(name,line)
        scores = list(map(float, line))
        print(scores)
        student_marks[name] = scores
    query_name = input()
    print(query_name)
    result = [(name,score) for name,score in student_marks.items() if name == query_name]
    print(result[0])
    marks = [score for score in result[0][1]]
    print(marks)
    avg = sum(marks) / len(marks)
    print(avg)

In [ ]:
query_name

In [ ]:
result = [(name,score) for name,score in student_marks.items() if name == query_name]
print(result[0][1])
# print(name,marks)

In [ ]:
marks = [score for score in result[0][1]]
print(marks)
avg = round(sum(marks) / len(marks),2)
print(avg)
print(f"{avg:.2f}")

In [ ]:
avg = sum(result[0][1]) / len(result[0][1])
print(avg)

In [ ]:
num = []

if __name__ == '__main__':
    for _ in range(int(input())):
        N = input().split()
        # print(N)
        if N[0] == "append":
            num.append(int(N[1]))
        elif N[0] == "insert":
            num.insert(int(N[1]),int(N[2]))
        elif N[0] == "remove":
            num.remove(int(N[1]))
        elif N[0] == "pop":
            num.pop()
        elif N[0] == "sort":
            num.sort()
        elif N[0] == "reverse":
            num.reverse()
        elif N[0] == "print":
            print(num)
        else:
            print("Enter Input....")


print(num)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)

    print(hash(t))

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

# read size of set a (not really needed for set)
M = int(input())
# read elements of set a
a = set(map(int, input().split()))

# read size of set b
N = int(input())
# read elements of set b
b = set(map(int, input().split()))

# print(a.symmetric_difference(b)) 
result = a.symmetric_difference(b)
loop = list(sorted(result))
for i in loop:
    print(i)

In [ ]:
n,m = tuple(map(int, input().split(" ")))
n_arr = list(map(int, input().split(" ")))
m_a_arr = set(map(int, input().split(" ")))
m_b_arr = set(map(int, input().split(" ")))

happiness = 0
for i in n_arr:
    happiness+= (i in m_a_arr) - (i in m_b_arr)

## day 3

In [ ]:
def swap(query:str):
    for i in query:
        if i == query.lower():
            return query
        else:
            return query.upper()
    
swap('world')

'world'

In [ ]:
low = "abcdefghijklmnopqrstuvwxyz"

query = "Hekdb KIJNKNJKJ"
from string import ascii_lowercase as low

def swap_case(s):
    return "".join([l.upper() if l in low else l.lower() for l in s])

swap_case(query)

'hEKDB kijnknjkj'

In [15]:
result = []

for l in query:
    if l in low:
        result.append(l.upper())
    else:
        result.append(l.lower())

final_query = "".join(result)
print(final_query)

hEKDB kijnknjkj

In [14]:
final_query = "".join(
    l.upper() if l in low else l.lower()
    for l in query
)

print(final_query)

hEKDB kijnknjkj

In [ ]:
def split_and_join(line):
    # write your code here

In [21]:

line = 'Hello World Tanvvir'
line2 = line.split()
line3 = "-".join(line2)
line3

'Hello-World-Tanvvir'

In [24]:
def print_full_name(first, last):
    print(f"Hello {first} {last}! You just delved into python.")
print_full_name('Tanvir','Ahmed')

Hello Tanvir Ahmed! You just delved into python.

In [23]:
if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

In [ ]:
line = 'Hello World Tanvvir'
def mutate_string(string, position, character):
    list_line = list(string)
    list_line[position] = character

    full = ''.join(list_line)
    return full


mutate_string(line,2,"k")

Hello World Tanvvir 2 k

In [41]:
list_line = list(line)
list_line[3] = 'k'

full = ''.join(list_line)

In [42]:
full

'Helko World Tanvvir'

In [ ]:
def count_substring_slice(string, sub_string):
    if string[-3:]== sub_string:
        print(len(sub_string))


def count_substring(string, sub_string):
    count = 0
    for i in range(len(string) - len(sub_string)+1):
        if string[i:i+len(sub_string)] == sub_string:
            count+=1
    return count

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

In [86]:
a = 'ABCDCDC'
b = 'CDC'

count_substring(a,b)

2

In [91]:
len(a) - len(b)

4

In [87]:
for i in range(len(a) - len(b) + 1):
        print(i)

0
1
2
3
4

In [95]:
a[2:2+len(b)]

'CDC'

In [72]:
for i in range(0, len(a)):
    print (a[i::-1])

A
BA
CBA
DCBA
CDCBA
DCDCBA
CDCDCBA